{% extends "layouts/app.twig" %}

{% block title %}Dasbor
{% endblock %}

{% block header %}
	<h1 class="text-3xl font-bold text-gray-800 text-center">Sistem Informasi Akademik</h1>
{% endblock %}

{% block content %}
	<section></section>
{% endblock %}
